* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background: repeating-linear-gradient(-45deg, #a1a1a1, #a1a1a1 3px, #f6f7f7 3px, #f6f7f7 6px);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


.slider {
    background-color: #25282a;
    max-width: 100%;
    height: 70vh;
    position: relative;
    margin-top: 100px;
}

.slider input{
    position: absolute;
    z-index: -1;
}

.mem {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    transition: .5s;
}

.labels {
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
    right: 30px;
}

.labels .memChoice {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid #25282a;
    transition: .3s;
}

.labels .memChoice:hover {
    background-color: rgb(185, 185, 185);
}

.mem-pic {
    height: 100%;
    margin: 0 auto;
}

.mem-text {
    position: absolute;
    left: 0;
    bottom: -50px;
    color: #f6f7f7;
    background-color: #25282a;
}

#mem-4,
#mem-3,
#mem-2,
#mem-1 {
    opacity: 0;
}

#memChoice1:checked{
    bottom: 63px;
    right: 203px;
    z-index: 1;
}

#memChoice2:checked{
    bottom: 63px;
    right: 150px;
    z-index: 1;
}

#memChoice3:checked{
    bottom: 63px;
    right: 97px;
    z-index: 1;
}

#memChoice4:checked{
    bottom: 63px;
    right: 43px;
    z-index: 1;
}

#memChoice1:checked + .mem {
    opacity: 1;
}
#memChoice2:checked + .mem {
    opacity: 1;
}
#memChoice3:checked + .mem {
    opacity: 1;
}
#memChoice4:checked + .mem {
    opacity: 1;
}


/* #mem-4 .mem-pic, 
#mem-4 .mem-text {
    
}
 */

/* 
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}


@media (max-width: 480px) {

} */