* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background: repeating-linear-gradient(-45deg, #a1a1a1, #a1a1a1 3px, #f6f7f7 3px, #f6f7f7 6px);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


.slider {
    background-color: #25282a;
    max-width: 100%;
    height: 55vh;
    display: flex;
    margin-top: 100px;
    padding: 2vw;
    padding-bottom: 100px;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
}

.slider input {
    display: none;
}

.mem {
    flex: 0 0 14em;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    transition: 1s;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 20px;
}

.memChoice {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid #25282a;
    margin-bottom: 10vh;
    transition: .3s;

}

.memChoice:hover {
    background-color: rgb(185, 185, 185);
}

.mem-pic {
    height: 100%;
    margin: 0 auto;
}

.mem-text {
    margin-right: 40%;
    color: #f6f7f7;
    background-color: #25282a;
    margin-top: 20px;
    font-size: 1.5em;
}

#memChoice1:checked ~ #mem-0,
#memChoice2:checked ~ #mem-1,
#memChoice3:checked ~ #mem-2,
#memChoice4:checked ~ #mem-3 {
    animation: slide 3s;
    order: -1;
}

#memChoice1:checked ~ #forMemChoice1::after,
#memChoice2:checked ~ #forMemChoice2::after,
#memChoice3:checked ~ #forMemChoice3::after,
#memChoice4:checked ~ #forMemChoice4::after {
    content: '';
    display: block;
    margin-left: 4.5px;
    margin-top: 4.5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #25282a;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (min-width: 1200px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 90vw;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 90vw;
      }
      .slider {
        height: 70vw;
      }
}

@media (max-width: 767px) {
    .container {
        max-width: 90vw;
      }
      .slider {
        height: 70vw;
      }
}


@media (max-width: 480px) {
    .container {
        max-width: 90vw;
      }
      .slider {
        height: 70vw;
      }
}  
